@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&family=Roboto:wght@300;500&family=Ubuntu:wght@300&family=Ysabeau+Office:wght@100;400&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    background-color: wheat;
}
h1#titulo_index{
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 20px 0px;
    width: 240px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.544);
    border-radius: 5px;
}
h1#titulo_cadastro{
    text-align: center;
}
div#quadro_titulos_index{
    display: flex;
    justify-content:space-between;
    background-color: rgba(0, 255, 255, 0.519);

}
div#quadro_titulos_index>h2{
    border: 2px solid black;
    width: calc(100%/4);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
div#elementos_index{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: none;
}
li{
    width: calc(100%/4);
    text-align: center;
    word-break: break-word;
    background-color: rgba(128, 196, 255, 0.7);
    font-size: 25px;
    border: 2px solid black;
    font-family: 'Ubuntu', sans-serif;
    line-height: 35px;
}
div#quadro_ano_index{
    margin: 0px;
    padding: 0px;
}
a{
    font-size: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    margin: 20px 5px;
    color: black;
}
div#quadro_cadastro{
    margin-top: 50px;
}
input.cadastro{
    width: calc(100% - 50px);
    height: 35px;
    border-radius: 15px;
    margin-left: 60px;
    
}
label.cadastro{
    margin-top: 25px
}
fieldset{
    border: none;
    display: flex;
    
}