<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Cadastro_filme</title>
</head>
<h1 id="titulo_cadastro">Inserir novo filme</h1>
<form action="/catalogar" method="post">
  <div id="quadro_cadastro">
    <fieldset>
      <label for="filme" class="cadastro">Nome:</label>
      <input type="text" name="nome_cadastro" id="filme" class="cadastro">
      <br>
      <label for="genero" class="cadastro">Gênero:</label>
      <input type="text" name="genero_cadastro" id="genero" class="cadastro">
      <br>
      <label for="diretor" class="cadastro">Diretor:</label>
      <input type="text" name="diretor_cadastro" id="diretor" class="cadastro">
      <br>
      <label for="ano" class="cadastro">Ano:</label>
      <input type="text" name="ano_cadastro" id="ano" class="cadastro">
      <br>
      <button type="submit">Salvar</button>
    </fieldset>
  </div>
</form>

</body>
</html>