<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Cadastro_filme</title>
</head>
<h1 id="novoo_filme">Inserir novo filme</h1>
<form action="/catalogar" method="post">
  <fieldset>
    <input type="text" name="novo_filme" id="nome_filme" value="nome:">
    <br>
    <input type="text" name="genero" id="genero" value="gênero:">
    <br>
    <input type="text" name="diretor" id="diretor" value="diretor:">
    <br>
    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
  </fieldset>
</form>

</body>
</html>