<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testeee</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="data:,">

</head>
<body>
    <h1 class="h1_wow"> Filmes catalogados</h1>
    <div><h2>Nome</h2> <h2>Gênero</h2> <h2>Diretor</h2></div>
<ul>
    {%for item in lista%}
    <div id="div_index">
        <li class="nome">{{item.nome}}</li>
        <li class="genero">{{item.genero}}</li>
        <li class="diretor">{{item.diretor}}</li>
        <li class="ano">{{item.ano}}</li>
    </div>
    {%endfor%}
</ul>
    <h1 class="h1_wow"><a href="/cadastro" id="new_move">Cadastrar novo filme</a></h1>
</body>
</html>