<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apresentação</title>
    <link rel="stylesheet" href="..\static\estilo_inicio.css">
</head>
<body>
    <h1>FilmeTeca</h1>
    <h2>By Fabrício Nascimento</h2>
    <div id="quadro">
        <h3>Flask Backending</h3>
        <p>
            lista de filmes armazenas em um banco de dados MySQL feito em flask
        </p>
        <ul>
            <li>Desing responsivo no estilo neo brutalism</li>
            <li>validação para colocar um filme</li>
            <li>possibilidade de adicionar filmes no backending (banco de dados) pelo front-end, integração perfeita</li>
        </ul>
    </div>
    <h1 id="link"><a href="/inicio">Iniciar</a></h1>
</body>
</html>