<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Document</title>
</head>
<body>
  <h1 style="padding: 15px; background-color: white; width: 200px; text-align: center; border-radius: 5px;">São Loguin</h1>
  <form action="/verificar" method="post">
    <label for="Nome_login" style="margin-right: 10px;">Nome:</label>
    <input type="text" class="login" name="nome">
    <br>
    <label for="Senha_login">Senha:</label>
    <input type="text" class="login" name="senha"> <br>
    <button type="submit" class="btn btn-primary btn-salvar" name="senha">Salvar</button>
  </form>
</body>
</html>