<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Document</title>
</head>
<body>
  <div id="div_login">
    <h1 id="h1_login">São Loguin</h1>
    <div id="formularo">
      <form action="/verificar" method="post">
        <label for="Nome_login">Nome:</label>
        <input type="text" class="login" name="nome">
        <br>
        <label for="Senha_login">Senha:</label>
        <input type="text" class="login" name="senha"> <br>
        <button type="submit" class="btn btn-primary btn-salvar" name="senha">Salvar</button>
      </form>
    </div>
  </div>
</body>
</html>